*  { /*bring border-box to all*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}


body  { /*set font background-color for body*/
	font-family: sans-serif;
	background-color: #54403c;
}

.flex-container { /*define the flex container*/

	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	margin: 20px 0 0 0;
	padding:0;
	text-align: center;
}

.flex-item  { /*stops stretching of flex-items*/
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: 20px;
	box-shadow: inset 0 0 0 6px rgba(225,255,255,0.8), 0 1px 2px rgba(0,0,0,0.8);
	/*set inset box shadow of the item itself for transition*/
}

.port-img-1  { /*supplying the background images*/
	background-color: palegoldenrod;
}

.port-img-2  {
	background-color: burlywood;
}

.port-img-3  {
	background-color: powderblue;
}

.port-img-4  {
	background-color: tomato;
}


.port-info  {
	background-image: rgba(63,147,147,0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform:scale(0);
}

.port-info h3  {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: "Open Sans", Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.port-info p  {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.port-info p a  {
	display: block;
	text-decoration: none;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: "Open Sans", Arial, sans-serif;
}

.port-info p a:hover  {
	color: #fff222;
	color: rgba(255,242,34,0.8);
}

.flex-item:hover .port-info  {
	transform:scale(1);
	opacity: 1;
}

.flex-item:hover .port-info p {
	opacity: 1;
}

.flex-item  {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: 20px;
	box-shadow: inset 0 0 0 6px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.8);
	transition: all 0.4s ease-in-out;
}














