<html>
<head>
	<meta charset="UTF-8">
	<title>GoCar</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/locations.css">
	
</head>
<body>



		<div class="wrapper">

			Here's the site content!
		</div>

		<footer>
			<img src="../images/facebook.svg" class="socialmedia" id="facebook">
			<img src="../images/linkedin.svg" class="socialmedia" id="linkedin">
			<img src="../images/twitter.svg" class="socialmedia" id="twitter">
		</footer>


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="../js/locations.js"></script> <!-- Scripts located at the bottom of the body to insure page is fully loaded before execution -->

</body>
</html>