<html>
<head>
	<meta charset="UTF-8">
	<title>GoCar</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/rates.css">
	
</head>
<body>

	<nav>
		<a id="logoNav">GoCar</a>
		<a id="menu">Menu</a>
		<a href="../index.html" class="hide-menu">Home</a>
		<a href="#" class="hide-menu">Rates</a>
		<a href="#" class="hide-menu">Locations</a>
		<a href="#" class="hide-menu">Testimonials</a>
		<a href="faq.html" class="hide-menu">FAQs</a>
		<a href="contactus.html" class="hide-menu">Contact Us</a>
		<a href="#" id="log-in" class="hide-menu">Log In</a>
	</nav>

	<div class="wrapper">

		<div class="vehicle" id="city">
			<img src="../images/cityrange.jpg" id="cityrange">
			<p class="range" id="city_range">City Range</p>
			<div id="description_city">
			<p class="vehicle_para_city">City range is made up of Ford Fiesta’s, Hyundai i10’s and i20’s.</p>
			<p class="vehicle_para_city">All GoCities are manual transmission.</p>
			<p class="vehicle_para_city vehicle_botton">All GoCities are fueled by petrol.</p>
			</div>
			<div class="select_button">
				<p id="city_select" class="select">Select</p>
			</div>
		</div>

		<div class="vehicle" id="tripper">
			<img src="../images/tripperrange.jpg" id="tripperrange">
			<p class="range" id="tripper_range">Tripper Range</p>
			<div id="description_tripper">
			<p class="vehicle_para_tripper">GoTrippers are made up of Ford Focus’s, Hyundai i30’s.</p>
			<p class="vehicle_para_tripper">GoTrippers are manual transmission.</p>
			<p class="vehicle_para_tripper vehicle_bottom">All GoTrippers are fueled by diesel.</p>
			</div>
			<p id="tripper_select" class="select">Select</p>
		</div>

		<div class="vehicle" id="van">
			<img src="../images/vanrange.jpg" id="vanrange">
			<p class="range" id="van_range">Van Range</p>
			<div id="description_van">
			<p class="vehicle_para_van">GoVans are made up of Ford Transit Connects</p>
			<p class="vehicle_para_van">All GoVans are manual transmission.</p>
			<p class="vehicle_para_van vehicle_bottom">All GoVans are fueled by diesel</p>
			</div>
			<p id="van_select" class="select">Select</p>
		</div>

	</div>

	
	<footer>
		<img src="../images/facebook.svg" class="socialmedia" id="facebook">
		<img src="../images/linkedin.svg" class="socialmedia" id="linkedin">
		<img src="../images/twitter.svg" class="socialmedia" id="twitter">
	</footer>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="../js/rates.js"></script> <!-- Scripts located at the bottom of the body to insure page is fully loaded before execution -->

</body>
</html>